.Weather {
  width: 600px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
  border-width: 8px;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 40px;
  padding: 20px;
  font-family: arial, sans-serif;
  box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.4);
}

.WeatherInfo h1 {
  margin: 20px 0 0 0;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
}

.WeatherInfo ul {
  margin: 0;
  padding: 0;
}

.WeatherInfo li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather form {
  margin-bottom: 20px;
}

.WeatherInfo .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;
}

.WeatherInfo .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
